.aside {
	margin-right: 30px;
	display: flex;
	min-height: calc(100vh - 60px);
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	background-color: #fff;
}

.nav {
	margin-top: 40px;
	width: 200px;
}

.nav li {
	font-size: 20px;
}

.navItem.active {
	background-color: #d8d8d87c;
}

.navItem button,
a {
	display: inline-block;
	padding: 10px 30px;
	width: 100%;
	text-align: start;
}

@media (max-width: 760px) {
	.aside {
		position: absolute;
		top: 0;
		left: -100%;
		height: 100%;
		width: 100%;
		z-index: 100;
		transition: left 0.3s ease-in-out;
	}

	.aside.active {
		left: 0;
	}

	.nav {
		margin-top: 100px;
		width: 100%;
	}
}

@media (max-width: 760px) {
	.aside {
		min-height: 100vh;
	}
}
