.animWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right bottom, #f7c90e, #1abac0);
}

.square {
	height: 100vh;
	width: 50vw;
	display: table;
	position: absolute;
	background: rgba(255, 255, 255, 0.1);
	transform: rotate(45deg);
}

.square.squareTl {
	top: -80%;
	left: -10%;
	animation: bounce 6s infinite ease-in-out;
	background: rgb(34, 34, 34, 0.1);
	z-index: 50;
}

.square.squareTr {
	top: 0%;
	right: -30%;
	animation: bounce 5s infinite ease-in-out;
}

.square.squareBl {
	bottom: -70%;
	left: -15%;
	animation: bounce 4s infinite ease-in-out;
}

.square.squareBr {
	bottom: 0%;
	right: -40%;
	animation: bounce 3s infinite ease-in-out;
	background: rgb(34, 34, 34, 0.1);
}

@keyframes bounce {
	0% {
		transform: translateY(0px) rotate(45deg);
	}
	50% {
		transform: translateY(20px) rotate(45deg);
		border-radius: 50px;
	}
	100% {
		transform: translateY(0px) rotate(45deg);
	}
}

@media (max-width: 560px) {
	.square {
		height: 45vh;
	}
	.square.squareBl {
		bottom: 5%;
		left: -60%;
	}

	.square.squareTr {
		top: 0%;
		right: -40%;
	}
}
