* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	overflow-y: scroll;
	color: #000;
	font-size: 16px;
}

input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	outline: none;
	color: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
	line-height: normal;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

.wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	overflow: hidden;
	background-color: rgb(237, 238, 240);
}

.page {
	flex: 1 1 auto;
}

.container {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding-inline: 15px;
}

.homeWrapper {
	position: relative;
	z-index: 100;
	margin: 0 auto;
	padding: 30px;
	min-height: calc(100vh - 60px);
	display: flex;
	border-radius: 15px;
}

@media (max-width: 760px) {
	.homeWrapper {
		padding: 0;
	}
}
