* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	color: #000;
	font-size: 16px;
	background: #e7f6ff;
}

input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	outline: none;
	color: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
	line-height: normal;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.page {
	flex: 1 1 auto;
}

.container {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding-inline: 15px;
}

.homeWrapper {
	margin: 30px auto;
	padding: 30px;
	min-height: calc(100vh - 60px);
	display: flex;
	border-radius: 15px;
	background-color: #fff;
}
